.banner {
  background: url(../../public/images/variety/pexels-andrea-piacquadio-3757055.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: calc(100vh - 74px);
}
.banner_products {
  background: url(../../public/images/variety/pexels-markus-spiske-105004.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: calc(100vh - 74px);
}
.service_icon_box {
  display: inline-block;
  /* width: 70px;
  height: 50px; */

  /* i omit width and height and put padding to ovied using static width */
  padding: 0.1rem 2rem;
  background: #777;
  color: #fdbe02;
  font-size: 1.7rem;
  line-height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
  font-size: 1.4rem;
}
.item_service_desc {
  font-size: 0.9rem;
  padding: 0 1rem;
  color: #666;
}
.single_prodcut_banner {
  background: url(../../public/images/variety/pexels-huy-phan-2826787.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: calc(100vh - 74px);
}

.store_product {
  background: url(../../public/images/variety/pexels-burst-545012.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: calc(100vh - 74px);
}

.title_style {
  width: 100%;
  text-align: left;
}
.title_style::after {
  content: "";
  display: block;
  width: 70%;
  height: 4px;
  margin: 0.6rem 0;
  background: var(--mainYellow);
}

@media screen and (max-width: 767px) {
  .title_style::after {
    margin: 0.6rem auto;
  }
}

/*home filler*/
.home_filler {
  background: linear-gradient(
      to bottom,
      rgba(66, 66, 66, 0.52),
      rgba(34, 32, 34, 0.73)
    ),
    url(../../public/images/products/5a0195f67ca233f48ba6273b.png);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}

@media screen and (max-width: 600px) {
  .home_filler h2 {
    font-size: 1rem;
  }
  .home_filler p {
    font-size: 0.7rem;
  }
  .home_filler a {
    font-size: 0.7rem;
  }
}
.text_filler:after {
  content: "";
  display: block;
  border: 1px solid #fdbe02;
  width: 15%;
  margin: 2px auto;
}
/* end home filler */

.features .old_price {
  text-decoration: line-through;
  margin-right: 3px;
}
.features .img_container {
  height: 50vh;
  /* max-height: 20vh; */
  overflow: hidden;
}
@media screen and (max-width: 900px) and (min-width: 767px) {
  .features .img_container {
    height: 30vh;
  }
}

.features .img_container img {
  height: 70%;
}
.features .img_container .box_items {
  position: absolute;
  right: 0;
  top: 45%;
}
.features .img_container .icon_search_box {
  transform: translateX(110%);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  cursor: pointer;
}
.features .img_container .add_btn {
  transform: translateX(110%);
  transition-duration: 1s;
  /* transition-delay: 6s; */
}
.features .img_container:hover .icon_search_box {
  transform: translateX(0);
}
.features .img_container:hover .add_btn {
  transform: translateX(0);
}

/* end common */

/* #######################Home Page####################################### */

/* navbar */
.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: var(--mainYellow) !important;
}

.navbar a {
  font-size: 1.6rem !important;
}
.nav-item {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item.active .nav-link {
  border-bottom: 2px solid var(--mainYellow);
}
a.navbar_icon i {
  font-size: 1.6rem;
  cursor: pointer;
}
a.navbar_icon:nth-of-type(2) {
  position: relative;
}
a.navbar_icon:nth-of-type(2) .cart_item {
  /* font-size: 15px; */
  font-size: 0.8rem;
  text-align: center;
  line-height: 17px;
  color: white;
  /* width: 13px;
   height: 17px; */
  padding: 0.1rem 0.2rem;
  /* border-radius: 10px; */
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: -6px;
  right: 1px;
}
@media screen and (max-width: 767px) {
  a.navbar_icon:nth-of-type(2)::after {
    right: unset;
    left: 13px;
  }
}

/* end navbar */
.product_item {
  position: relative;
  overflow: hidden;
}

.product_item:hover .link_product {
  opacity: 1;
  background: rgba(221, 221, 221, 0.801);
  visibility: visible;
}
.product_item:hover .inside_link_product {
  opacity: 1;
}
.link_product {
  position: absolute;
  top: calc(100% - 60px);
  left: -17%;
  display: block;
  background: rgba(221, 221, 221, 0);
  padding: 0.3rem 4rem;
  transform: skew(40deg);
  transition: 0.7s;
  opacity: 0;
  visibility: hidden;
}
.inside_link_product {
  transform: skew(-40deg);
  opacity: 0;
  transition: 0.9s;
}
.link_product_text {
  color: rgb(255, 115, 0);
  font-weight: 700;
}

/* partners */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none;
}

#carosalPartner > a.carousel-control-prev > span.carousel-control-prev-icon i,
#carosalPartner > a.carousel-control-next > span.carousel-control-next-icon i {
  color: #242325;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  #carosalPartner > a.carousel-control-prev > span.carousel-control-prev-icon i,
  #carosalPartner
    > a.carousel-control-next
    > span.carousel-control-next-icon
    i {
    font-size: 1.6rem;
  }
}
/* end partners */

/* skills */
.skills {
  background-color: #111011;
}

.skill_text {
  font-size: 0.9rem;
  color: rgb(128, 127, 127);
}
/* end_skills */


