:root {
  --maindark: #242325;
  --mainwhite: #fff;
  --maingrey: rgb(238, 236, 236);
  --mainYellow: #fdbe02;
}

/* common */
body {
  color: var(--maindark);
  background-color: var(--mainwhite);
  font-family: "Calligraffitti", cursive;
  min-height: 3000px;
}
.font_sans_pro {
  font-family: "Source Sans Pro", sans-serif;
}
.bg_gray {
  background-color: rgb(94, 90, 90);
}

.features .img_container .add_btn {
  transform: translateX(110%);
  transition-duration: 1s;
  /* transition-delay: 6s; */
}
.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.nav-item.active .nav-link {
  border-bottom: 2px solid var(--mainYellow);
}
